.container{
    width: 350px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-175px,-200px);
    border-radius: 8px;
    background-color: #fff;
    padding: 24px;
}

.btn{
    width: 35%;
    margin: 20px;
}

.title{
    text-align: center;
    margin-bottom: 24px;
}