/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Content/index.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Content_content__iP7sw{
    background-color: #fff;
    border-radius: 16px;
    margin: 24px;
    padding: 32px;
}

.Content_title__y3NnI{
    font-size: 24px;
    /* margin-bottom: 20px; */
    padding: 24px;
}

.Content_btn__bySTU{
    float: right;
    
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/log/index.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.log_tablewrap__82sky{
    overflow: auto;
    height: calc(100%-76px);
}
