/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/login/index.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.login_container__rrgsQ{
    width: 350px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-175px,-125px);
    border-radius: 8px;
    background-color: #fff;
    padding: 24px;
}

.login_btn__6g8eG{
    width: 35%;
    margin: 20px;
}

.login_title__4FKKz{
    text-align: center;
    margin-bottom: 24px;
}
